<header class="site-navbar site-navbar-target" role="banner">

    <div class="container-fluid">
        <div class="d-flex justify-content-between">

            <div class="site-logo">
                <h2 class="logo display-3" routerLink="">Shorty</h2>
            </div>
            <div class="mt-2">
                <button class="btn btn-primary" routerLink="/URLShortener"><a class="tryNow">Try Now</a></button>               
                <button class="btn loginbtn m-2" routerLink="/login">Login</button>
                <button class="btn signupbtn" routerLink="/signup">SignUp</button>
            </div>
        </div>
    </div>

</header>